spring:
  application:
    name: dscommerce

  profiles:
    active: test

  output:
    ansi:
      enabled: ALWAYS

logging:
  pattern:
    console: >
      %clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint}
      %clr(%-5p)
      %clr([%t]){cyan}
      %clr(%-50.50logger{0}){blue}
      %clr(:){yellow}
      %m%n

---

# TEST (profile “test”)
spring:
  config:
    activate:
      on-profile: test

  application:
    name: dscommerce-test

  datasource:
    url: jdbc:h2:mem:dscommerce
    username: sa
    password:
    driver-class-name: org.h2.Driver

  h2:
    console:
      enabled: true

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true